<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF FILE</title>
</head>
<style>

    table {
        width: 100%;
        height: auto;
        border-collapse: collapse;
    }

    th, td {
        text-align: center;
        padding: 10px;
        border: 9px solid green;
    }

    @page {
        size: letter landscape;
        margin: 2cm;
    }

    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

</style>
<body>
    <div style="margin-top: 100px; margin-bottom: 100px;">
        <h3><p style="text-align: center; font-size: 25px;">LIST OF USERS</p></h3>
    </div>

    <div>
        {% if users %}
        <table border="1">
            <thead>
                <tr style="background: lightgreen;">
                    <th>USERNAME</th>
                    <th colspan="2">EMAIL</th>
                    <th>PHONE</th>
                    <th>FIRST NAME</th>
                    <th>LAST NAME</th>
                    <th colspan="2">CREATED</th>                                                                                                                                             
                </tr>
            </thead>
            <tbody>
                {% for user in users %}                                                     
                    <tr>
                        <td >{{ user.username }}</td>
                        <td colspan="2">{{ user.email }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td colspan="2"> {{ user.created_at }}</td>
                    </tr> 
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</body>
</html>
