<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
</head>
<style>
  label {
    display:block;
    margin-top: 20px;
  }
  input {
    margin-bottom: 20px;
    font-weight: bold;
  }
  form { 
    margin: 0 auto; 
    width: 500px;
  }
</style>
<body>

{% if verify_token %}

<div>
  <form method="POST" action="{% url 'reset-password-form' uidb64 token %}">
    <h1>Set a new password!</h1>
    
    {% for error in errors %}

    <div>
      <strong>{{ error }}</strong>
    </div>

    {% endfor %}

    <div>
      <label for="password"><strong>Current password</strong></label>
      <input type="password" name="password">
    </div>
   
    <div>
      <label for="new_password"><strong>Confirm password</strong></label>
      <input type="password" name="confirm_password">
    </div>

    <div>
      <label for="new_password"><strong>New Password</strong></label>
      <input type="password" name="new_password">
    </div>

    <div>
      <input type="submit" value="Change my password">
    </div>
    
  </form>
</div>

{% else %}

<div>
  <p>
    Your token has expired.
  </p>
</div>

{% endif %}

</body>
</html>