<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Verification</title>
</head>
<body>
    <div>
        <p> Dear <strong>{{first_name}}</strong>, </p>
    </div>
    
    <div>
        <p>
            This is a <a href="{{verification_link}}"><strong>verification link</strong></a> for verifying account.
        </p> 
    </div>
    
    <div>
        <p> 
            Please click this link to verify email address.
        </p> 
    </div>
    
    <div>
        <p> 
            Best regards, <br>
            The Django Team 
        </p>
    </div>
    
</body>
</html>