<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>

    <div>
        <p>Hello {{ first_name }},</p>
    </div>
    
    <div>
        <p>
            We received a request to reset the password for your account for this email address. To initiate the password reset process for your account, click the link below.
        </p>
    </div>
    
    <div>
        <p>
            Click this <a href="{{reset_link}}"><strong>verification link</strong></a> to change your password.
        </p>
    </div>
    
    <div>
        <p>
            This link can only be used once. If you need to reset your password again, please visit https://api.dev.django and request another reset.
        </p>
    </div>

    <div>
        <p>
            If you did not make this request, you can simply ignore this email.
        </p>
    </div>

    <div>
        <p>
            Sincerely, <br>
            The Django Team
        </p>
    </div>

</body>
</html>