<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body style="background-color: #ffffff; font-size: 16px;">
    <center>
        <table align="center" border="0" cellpadding="0" cellspacing="0" style="height:100%; width:600px;">
            <!-- BEGIN EMAIL -->
            <tr>
              <td align="center" bgcolor="#ffffff" style="padding:30px">
                 <p style="text-align:left">Hello {{ first_name }},<br><br> We received a request to reset the password for your account for this email address. To initiate the password reset process for your account, click the link below.
                </p>
                <p>
                  <a target="_blank" style="text-decoration:none; background-color: black; border: black 1px solid; color: #fff; padding:10px 10px; display:block;" href="{{ reset_link }}">
                    <strong>Reset Password</strong></a>
                </p>
                <p style="text-align:left">This link can only be used once. If you need to reset your password again, please visit <a href="{{ protocol }}://{{domain}}">website.com</a> and request another reset.<br><br>If you did not make this request, you can simply ignore this email.</p>
                <p style="text-align:left">
                Sincerely,<br>The Website Team
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </center>
</body>
</html>